.splash {
    margin-top: 20px;
    text-align: center;
  }

.cardsContainer {
  margin: auto;
  width: 50%;
  flex-direction: column;
  overflow-y: auto; 
  max-height: 70vh; 
  box-sizing: border-box;
}

.backButton {
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  left: 25px;
}

.backButton:hover {
  background-color: #0056b3;
}
